<header >
    <div class="header_content">
        <a href="/" class="ms-4   logo">
            <img src="../images/logo.svg" alt="Logo EcoDesc">
        </a>


        <nav class="nav pt-3 hidden ">
            <ul class="nav_list ">
                <li class="nav_item dropdown">
                    <a class="nav_link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        início
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">sobre nós</a></li>
                        <li>
                            <hr  class="dropdown-divider">
                        </li>
                        <li class="nav-item dropend">
                            <a class="nav_link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                sobre o <i>e-lixo</i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="informacao.html">o que é <i>e-lixo</i> </a></li>
                                <li><a class="dropdown-item" href="producao-lixo.html">geração de <i>e-lixo</i></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav_item dropdown ">
                    <a class="nav_link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i>eco</i>ponto
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <li>
                            <a class="dropdown-item" href="ecoponto.html">sobre</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="descarte.html">perto de você</a>
                        </li>
                    </ul>
                </li>
       
                <li class="nav_item dropdown ">
                    <a class="nav_link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i>eco</i>virtual
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <li class="nav_item dropdown">
                            <a href="kids.html" class="dropdown-item">área <i>kids</i></a>
                        </li>
                        <li class="nav_item dropdown">
                            <a class="dropdown-item" href="ecoponto.html">laboratório virtual</a>
                        </li>
                    </ul>
                </li>         
                <li class="nav_item">
                     <a class="nav_link" href="artigos.html">Mudar Nome Artigo</a>
                </li>
               
         <li class="nav_item ">
                    <a href="avalie.html" class="nav_link"><i>eco</i>empresas</a>
                </li>
                <li class="nav_item dropdown">
                    <a class="nav_link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        sobre o <i>e-lixo</i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                        <li>
                            <a class="dropdown-item" href="informacao.html">visão geral</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="producao-lixo.html">como surge?</a>
                        </li>
                    </ul>
                </li>

                <li class="nav_item dropdown">
                    <a class="nav_link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       contato
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="contato.html">entre em contato</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="parceiros.html">seja um parceiro</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>

    <section class="login-menu">
        <div id="divUserName">
            <button onclick="login()" class="px-3 py-2 me-4 "  id="button-login"> login </button>
        </div>

        <div class="hamburger me-5" onclick="openMenu()" >
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </section>
    </div>
</header>





