<footer >
    <p class="pt-5 text-center">EcoDesc &copy; 2024 - Todos os direitos reservados</p>
    <nav class="pb-5">
        <ul>
            <a target="_blank" href="https://youtube.com/@EcoDescValedoAco?si=i-Czc4zlR1fM4pab"><li><i class="rodape-i  bi bi-youtube"></i></li></a>
            <a target="_blank" href="https://www.instagram.com/ecodesc.va/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><li><i class="rodape-i bi bi-instagram"></i></li></a>
        </ul>
    </nav>
</footer>